<!-- wp:template-part {"slug":"header"} /-->
<!-- wp:cover {"useFeaturedImage":true,"dimRatio":75,"overlayColor":"gbgold","className":"single-post-hero","align":"full"} -->
<div class="wp-block-cover alignfull single-post-hero">
    <span aria-hidden="true" class="wp-block-cover__background has-gbgold-background-color has-background-dim has-background-dim-75"></span><div class="wp-block-cover__inner-container">
        <!-- wp:group {"layout":{"type":"flex","flexWrap":"nowrap","orientation":"vertical","justifyContent":"center"}} -->
        <div class="wp-block-group">
            <!-- wp:post-title /-->
            <!-- wp:post-author /-->
        </div>
        <!-- /wp:group -->
</div></div>
<!-- /wp:cover -->
<!-- wp:post-content /-->